@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1 {
  margin-top: 25px;
}

html {
  height: 100%;
}  
body{
  background-image: linear-gradient(to bottom right, #213438,#445054,#3f5c5e,#55706c);

}

header{
  background-color: #1a262e
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#5c6e80;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 0%;
}

.logo {
    width: 100px;
    margin-right: auto;
    margin-left: -10px;
    margin-bottom: 10px

}

.logo:hover {
    opacity: 1;
}

.nav_links {
    list-style: none;
    margin-right: 15px;
    margin-left: 15px;

}

.nav_links li {
    display: inline-block;
    margin-right: 25px;
    padding: 0px 30px'
}

.nav_links li a {
    transition: all 0.5s ease 0.1s;
}

.nav_links li a:hover {
    color: #c2cbd1
  }

button{
    padding: 9px 25px;
    background-color: #c2cbd1;
    border: none;
    border-radius: 58px;
    cursor: pointer;
    color: #fff;
    background: #c2cbd1;
    text-transform: uppercase;
    transition: all 0.5s ease 0.1s;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transform-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

button:hover, button:focus, button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
