@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1 {
  margin-top: 25px;
}

html {
  height: 100%;
}  
body{
  background-image: linear-gradient(#121d26,#2c3a4d,#445054);
}

header{
  background-color: #1a262e
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.road {
    width: 650px;
    align-self: auto;
    opacity: 0.6;
}


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#5c6e80;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 0%;
}

.logo {
    cursor: pointer;
    width: 150px;
    margin-right: auto;
    margin-left: -10px;
}

.logo:hover {
    opacity: 0.7;
}

.nav_links {
    list-style: none;
    margin-right: 25px;
    margin-left: 25px;
}

.nav_links li {
    display: inline-block;
    margin-right: 50px;
    margin-left: auto;
    padding: 0px 30px'

}

.nav_links li a {
    transition: all 0.5s ease 0.1s;
}

.nav_links li a:hover {
    color: #c2cbd1
  }

button{
    padding: 9px 25px;
    background-color: #151d29;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0.1s;
    margin-right: 10px;
}

button:hover {
    background-color: #c2cbd1 ;
    opacity: 0.75;
}


